<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Shopping-App</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/products">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products/new">New</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <div class="d-flex" role="search">
          <!-- conditional hai : agar kisi user ne login nahi kara hoga to nav-bar me sirf login dikhega -->
          <% if(!currentUser){ %>
            <a href="/login" class="nav-link mx-2">Login</a>
          <% }else{ %>
            <!-- Login hone ke baad kon se user ne login kara tha uska naam navbar me dikha dete hai -->
            <a href="#" class="nam-link">Hello, <%= currentUser.username%></a>
            <!-- else Kisi ne login kar diya hai to nav-bar me sirf logot dikhega -->
            <a href="/" class="nav-link mx-2">
              <i class="fa-solid fa-cart-shopping"></i>
              <sup><span class="badge bg-danger">2</span></sup>
            </a>
            <a href="/logout" class="nav-link mx-2">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>