
<!-- layout() -> ek method hai na ki folder name -->
<% layout('layouts/boylerplate')%>

<%- include('./partials/navbar') %>

<div class="alert alert-danger" role="alert">
    <h1>Error Page</h1>
    <%=err%>

</div>

        
</body>

</html>