<% layout('layouts/boylerplate')%>

<%- include('../partials/navbar') %>

    <ul>
        <h5>Products in your cart are : </h5>
        <% for(let item of user.cart){ %>
            <div class="list-group list-group-light">
                <a href="#" class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2 list-group-item-info d-inline" ><%= item.name %>  : <%=item.price%></a>
            </div>
        <% } %>
    </ul>